/* Elements -------------------------------------------*/
input {
	height: 30px;
	flex: 1 1 auto;
	border: 0px;

	&[type='email'] {
		&.email {
			width: 100% !important;
		}

		&.current,
		&.new {
			&-email {
				width: 100%;
			}
		}
	}
}

a {
	color: var(--dark-turq);
	text-decoration: none;
	font-weight: bold;

	&:visited {
		color: var(--dark-turq);
	}

	&:hover {
		text-decoration: underline;
		color: var(--turq) !important;
	}
}

label {
	font-size: 15px;
}

/* Classes --------------------------------------------*/
.edit-login-info-page-container {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;

	h1 {
		text-align: center;
	}
}

.confirmation-container {
	position: absolute;
	top: 30px;
	left: 50%;
	transform: translateX(-50%);
	padding: 10px 20px;
	border: 1px solid var(--border);
	border-radius: var(--corners-round);
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
	background-color: var(--hard-white);
	color: var(--hard-black);
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.sign-up-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 'sign-up welcome';
	width: 100%;
}

.sign-in-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.welcome {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1 1 auto;
	width: 1fr;
	color: var(--dark-turq);
}

.sign {
	&-in {
		width: 100%;

		&-btn {
			background-color: var(--salmon);
		}
	}

	&-in,
	&-up {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex: 1 1 auto;
		width: 1fr;

		&-btn {
			margin-bottom: 0px;
			margin-top: 0px;
		}
	}
}

.auth-form {
	width: 50%;
	max-width: 325px;
	padding: 45px;
	border: var(--border);
	border-radius: var(--corners-round);
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.sign-up,
.login {
	&-title {
		margin-top: 0px;
		text-align: center;
		color: var(--dark-turq);
	}
}

.sign-up-title {
	margin-bottom: 0px;
}

.form-field-container {
	display: grid;
	gap: 5px;
}

.swap-form {
	text-align: center;
	padding: 15px;
}

.name {
	width: 100% !important;
}

.password {
	outline: none;
	border-radius: var(--corners-round);

	&-container {
		border: 1px solid #ccc;
		border-radius: var(--corners-round);
		margin: 0.8px;
		padding: 0px 10px;
		display: flex;
		flex: 1 1 auto;
		align-items: center;
		font-size: 14px;

		&:focus-within {
			border: 2px solid var(--hard-black);
			margin: 0px;
		}
	}

	&-toggle-icon {
		position: absolute;
		top: 50%;
		right: 10px;
		transform: translateY(-50%);
		cursor: pointer;

		i {
			font-size: 18px;
			line-height: 1;
			color: #333;
			transition: color 0.3s ease-in-out;
			margin-bottom: 20px;

			&:hover {
				color: #000;
			}
		}
	}
}

.eye-icon {
	cursor: pointer;
}

.edit-login-info {
	&-container {
		display: flex;
		flex-direction: column;
		gap: 20px;
		height: 100%;
		justify-content: end;
	}

	&-form {
		height: 100%;
		max-width: 340px;
		gap: 30px;

		input {
			width: 100%;
		}

		&-container {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;
		}
	}
}
