/* Elements -------------------------------------------*/
input {
  height: 30px;
  flex: 1 1 auto;
  border: 0px;
}

input:not(.password),
div.password-container {
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.4);
  box-sizing: content-box;
}

input:focus:not(.password),
div.password-container:focus-within {
  outline: none;
  border-bottom: 1.5px solid var(--hard-black);
}

a {
  color: var(--dark-turq);
  text-decoration: none;
  font-weight: bold;
}

a:visited {
  color: var(--dark-turq);
}

a:hover {
  text-decoration: underline;
  color: var(--turq) !important;
}

/* Classes --------------------------------------------*/
.sign-up-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'sign-up welcome';
  width: 100%;
}

.sign-in-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.sign-in,
.sign-up,
.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
  width: 1fr;
}

.sign-in,
.sign-up {
  flex-direction: column;
}

.sign-in {
  width: 100%;
}

.auth-form,
.set-up-form {
  width: 50%;
  max-width: 325px;
  padding: 45px;
  border: var(--border);
  border-radius: var(--corners-round);
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.title {
  text-align: center;
  margin-bottom: 75px;
  color: var(--dark-turq);
}

.change-form {
  text-align: center;
  padding: 15px;
}

.welcome {
  flex: 1 1 auto;
  color: var(--dark-turq);
}

.password-container {
  border-bottom: 1 solid rgba(0, 0, 0, 0.4);
  display: flex;
  flex: 1 1 auto;
  align-items: center;
}

.password {
  outline: none;
}

.eye-icon {
  cursor: pointer;
}

.sign-in-btn {
  background-color: var(--salmon);
}

.password-toggle-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.password-toggle-icon i {
  font-size: 18px;
  line-height: 1;
  color: #333;
  transition: color 0.3s ease-in-out;
  margin-bottom: 20px;
}

.password-toggle-icon i:hover {
  color: #000;
}