.header {
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--turq);
	color: var(--hard-white);
	padding: 10px 25px;

	&-title {
		margin: 0;
		font-size: 20px;
		font-weight: normal;
		color: var(--hard-white);
		text-align: left;
		cursor: pointer;
	}

	&-right {
		display: flex;
		align-items: center;
	}
}
