.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--turq);
	color: var(--hard-white);
	padding: 10px 25px;

	&-title {
		font-size: 20px;
		color: var(--hard-white);
		margin: 0;
		cursor: pointer;
	}

	&-right {
		display: flex;
		align-items: center;
	}
}
