.profile-icon-container {
	height: 40px;
	position: relative;
}

.avatar-icon {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	cursor: pointer;
}

.dropdown-menu {
	width: max-content;
	min-width: 200px;
	padding: 0.5rem 0;
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 45px;
	right: 0;
	background-color: white;
	border: var(--border);
	border-radius: var(--corners-round);
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
	z-index: 10;
}

.dropdown-item,
.dropdown-user-info {
	display: flex;
	align-items: center;
	color: var(--hard-black);
}

.dropdown-user-info {
	margin: 0px 15px;
	border-bottom: var(--border);
	padding: 10px 0px;
	justify-content: center;
	flex-direction: column;
	gap: 5px;
	font-size: 17px;
}

.dropdown-item {
	padding: 10px 15px;
	gap: 10px;
	cursor: pointer;
}

.dropdown-item:hover {
	background-color: #f0f0f0;
}

.dropdown-item img {
	width: 20px;
	height: 20px;
}
